/* Noto sans */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 185, 56);
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    color: white;
    font-family: "Noto Sans" , sans-serif;
    margin: 25px;
}

.ing > h1 , .instruction > h1 {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: "Noto Sans" , sans-serif;
    color: white;

}

.ing li , .instruction li {
    text-align: center;
    margin: 30px;
    font-weight: 600;
    color: white;
    font-family: "Noto Sans" , sans-serif;
    list-style-type: disc;
    list-style-position:inside;
}